<div class="container">
  <div class="row">
    <div class="col s12 l6">
      <div class="card">

        <h2 class="indigo-text text-darken-4">Authors List</h2>

        <mat-form-field>
          <input matInput placeholder="Search authors" #input>
        </mat-form-field>

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>

        <mat-table class="authors-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name"
          matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef>Numéro</mat-header-cell>
            <mat-cell *matCellDef="let author">{{author.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let author">{{author.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
            <mat-cell class="country-cell" *matCellDef="let author">{{author.country}}</mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let author">{{author.description}}</mat-cell>
          </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

        </mat-table>

        <mat-paginator #paginator [length]="dataSource?.length" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
